.navbar {
  justify-content: flex-start;
}

.navbar li {
  list-style: square;
  padding-top: 10px;
}

.navbar li a {
  text-decoration: none;
  margin-right: 50px;
  color: black;
  font-family: "Orbitron", sans-serif;
}

.navbar li a:hover {
  color: #04f73d;
  transition: all 0.7s ease-in-out;
}

.sublist {
  font-size: 15px;
}

.sublist li a:hover {
  color: #7b04f9;
  transition: all 0.7s ease-in-out;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

h3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
}

h3 a {
  text-decoration: none;
}

button {
  display: block;
  margin: 0 auto;
  background: transparent;
  border: transparent;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  margin-top: 300px;
}

button a {
  text-decoration: none;
  color: black;
}

button a:hover {
  color: #04f73d;
  transition: all 0.7s ease-in-out;
}

table {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding: 5px;
  margin-top: 100px;
}

.example-text4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}

.about-description {
  display: flex;
  flex-direction: column;
  margin-top: -250px;
  margin-bottom: 200px;
  text-align: justify;
}

p {
  display: flex;
  margin: 0 auto;
  width: 400px;
}

.social {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 30px;
  padding: 10px;
  margin: 15px;
}

.social i {
  padding: 10px;
}
