.navbar {
  justify-content: flex-start;
}

.navbar li {
  list-style: square;
  padding-top: 10px;
}

.navbar li a {
  text-decoration: none;
  margin-right: 50px;
  color: black;
  font-family: "Orbitron", sans-serif;
}

.navbar li a:hover {
  color: #04f73d;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}

.sublist a {
  font-size: 15px;
}

.sublist li a:hover {
  color: #7b04f9;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}

.navbar li a .active {
  color: #04f73d;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 10px;
  color: black;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

h3 a {
  text-decoration: none;
}

button {
  display: block;
  margin: 0 auto;
  background: transparent;
  border: transparent;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  margin-top: 300px;
}

button a {
  text-decoration: none;
  color: black;
}

button a:hover {
  color: #04f73d;
  transition: all 0.7s ease-in-out;
}

table {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding: 5px;
  margin-top: 100px;
}

.example-text4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}

.about-description {
  display: flex;
  flex-direction: column;
  margin-top: -290px;
  text-align: justify;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin: 0 auto;
  text-align: justify;
  width: 550px;
  margin-bottom: 30px;
}

.ingredients-list {
  margin: 0 auto;
  text-align: center;
  width: 550px;
}

.ingredients-list li {
  text-align: justify;
  list-style: georgian;
}

.landscape {
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: -380px;
  margin-right: 250px;
  width: 800px;
}

.landscape p {
  margin-top: 15px;
  width: 800px;
}

.art-fair {
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: -280px;
  margin-right: 200px;
  width: 800px;
}

.art-fair p {
  margin-top: 15px;
  width: 800px;
}

.experimenting {
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: -350px;
}

iframe {
  display: block;
  margin: 0 auto;
}

p.quote {
  display: flex;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 3px;
}

.artists-social h3 {
  font-size: 20px;
}

.artists-social a {
  font-size: 25px;
  padding: 5px;
  color: purple;
  transition: all 0.7s ease-in-out;
}

.artists-social a:hover {
  color: black;
}

.contact {
  margin-top: -150px;
}

.contact a {
  text-decoration: none;
}

.social {
  display: block;
  position: fixed;
  bottom: 0;
  list-style: none;
  font-size: 30px;
  padding: 10px;
  margin: 15px;
  color: black;
}

.social i {
  padding: 10px;
}

.social a {
  color: black;
  transition: all 0.7s ease-in-out;
}

.social a:hover {
  color: #04f73d;
}
