.navbar {
  justify-content: flex-start;
}

.navbar li {
  list-style: square;
  padding-top: 10px;
  font-family: "Orbitron", sans-serif;
}

.navbar li a {
  text-decoration: none;
  margin-right: 50px;
  color: black;
  font-family: "Orbitron", sans-serif;
}

.navbar a:hover,
.navbar li.active a {
  color: #04f73d;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}

.navbar li a .active {
  color: #04f73d;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h3 a {
  text-decoration: none;
}

.hp_img_bg {
  background-image: url("/img/hp_img.jpg");
  background-size: cover;
  background-repeat: repeat;
}

.box {
  height: 30vh;
}

.menu_link {
  text-decoration: none;
}

.menu_link :hover {
  color: #04f73d;
  transition: all 0.7s ease-in-out;
}

button {
  display: block;
  margin: 0 auto;
  background: transparent;
  border: transparent;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  margin-top: 300px;
}

button a {
  text-decoration: none;
  color: black;
}

button a:hover {
  color: #04f73d;
  transition: all 0.7s ease-in-out;
}

.btn-next {
  text-align: end;
  margin-top: 5em;
}

.btn-next p {
  font-family: "Orbitron", sans-serif;
}

.btn-next a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

table {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding: 5px;
  margin-top: 100px;
}

.example-text4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-top: 5px;
}

.about_description {
  position: relative;
  max-width: 100%;
  margin-top: -50%;
}

.macmaris,
.mo2ma,
.palatinus,
iframe {
  display: block;
  box-shadow: 2px 2px 2px rgba(112, 99, 99, 0.3);
  width: 100%;
}

.artworks-details-1 ul {
  list-style: none;
  margin-top: 10px;
  margin-left: 3px;
  padding: 0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#artworks-details ul {
  list-style: none;
  margin-top: 100px;
}

.david-paintings {
  display: blocK;
  margin: 0 auto;
  box-shadow: 2px 2px 2px rgba(112, 99, 99, 0.3);
  width: 100%;
}

.david-paintings-1 {
  display: blocK;
  margin: 0 auto;
  box-shadow: 2px 2px 2px rgba(112, 99, 99, 0.3);
}

p.quote {
  display: flex;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 3px;
}

.artists-social a {
  font-size: 20px;
  padding: 2px;
  color: black;
  transition: all 0.7s ease-in-out;
}

.artists-social a:hover {
  color: rgb(194, 192, 192);
}

.contact {
  margin-top: -150px;
}

.contact a {
  text-decoration: none;
}

.social {
  display: block;
  position: fixed;
  bottom: 0;
  list-style: none;
  font-size: 30px;
  padding: 10px;
  margin: 15px;
  color: black;
}

.social i {
  padding: 10px;
}

.social a {
  color: black;
  transition: all 0.7s ease-in-out;
}

.social a:hover {
  color: #04f73d;
}

.portfolio-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
  display: none;
  align-items: center;
  justify-content: center;
}

.portfolio-lightbox:target {
  display: flex;
}

.portfolio-lightbox-content {
  background: rgba(0, 0, 0, 0.9);
  padding: 1em;
  position: relative;
  object-fit: fill;
}

.close {
  position: absolute;
  width: 2em;
  height: 2em;
  background: black;
  top: -1em;
  right: -1em;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close::after {
  content: "X";
  color: white;
  font-weight: 700;
}
